@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --color-bg-orange: #feb052;
  --color-bg-white: #fff;
  --color-bg-gray: #3b3b3b;
}

* {
  margin: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 218px;
  height: 100%;
  background-color: var(--color-bg-white);
  overflow-y: auto; /* Adiciona uma barra de rolagem quando o conteúdo é longo */
  -webkit-box-shadow: -13px 0px 37px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -13px 0px 37px 0px rgba(0,0,0,0.75);
box-shadow: -13px 0px 37px 0px rgba(0,0,0,0.75);
}

.sidebar .sidebarTitle{
  position: relative;
  bottom: 3%; 

}
.sidebar .sidebarTitle h2{
  background: rgb(254,176,82);
  background: linear-gradient(180deg, rgba(254,176,82,1) 0%, rgba(246,150,71,1) 50%, rgba(239,126,60,1) 100%);
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  padding: 15px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 25px;
}

.sidebar li {
  margin-bottom: 0px;
  border-bottom: 1px solid #ebebeb;
  padding: 5px 0px 5px 18px;
  width: 200px;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none;
  font-size: 15px;
  padding: 5px 0;
  color: #3b3b3b;
  font-weight: 500;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #feb1525e;
}


.navbar {
  background-color: #fdf1eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 210px;
  margin-top: -8px;
  margin-right: -8px;
}

.event-discription{
  padding: 5px 0 2px 40px;
  color: #725c5c;
}

.event-discription p {
  font-size: 13px;
  font-weight: 500;
}

.event-discription h3 {
  font-size: 16px;
  font-weight: 500;
}

.traducao{
  padding: 5px 10px;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  font-size: 14px;
  color: #725c5c;
  margin-left: 200px;
}

.profile {
  display: flex;
  padding-right: 10px;
}


.profile .perfil{
  padding-right: 10px;
}

.profile .perfil .paragrath-welcome {
  padding-left: 90px;
  padding-top: 5px;
}

.profile img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.profile .perfil p {
  font-size: 10px;
}


.container{
  margin: 25px 50px 0 250px ;
  
}

.title-page{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container h1 {
  font-size: 18px;
  color: #ed7839;
}

.container .download button{
  background-color: #ed7839;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.download p {
  margin-top: 15px;
  color: #ed7839;
  font-size: 14px;
  font-weight: 600;
}

.apresentacao{
  display: flex;
  flex-direction: row;
}

.detailes {
  margin-left: 25px;
  margin-top: -6px;
  border: 1px solid #725c5c1e;
  color:#725c5c;
}

.detailes .title-card{
  background-color: #fdf1eb;
  border-bottom: 1px solid #725c5c1e;
}

.detailes h4{
  font-size: 20px;
  font-weight: 600;
  padding: 8px 10px;
}

.paragraph{
 padding-top: 15px; 
 padding-left: 10px;
}

.paragraph p {
  font-size: 12px;
  padding: 5px 0 0 0;
  color: #725c5c;
}

.paragraph p span {
  font-weight: 600;
}

.paragraph h5{
  margin-top: 25px;
}

.universidades{
  margin-top: 50px;
}

.universidades p {
  color: #3b3b3b94;
}

.container .card {
  border: 1px solid #725c5c1e;
}

.card-title {
  background-color: #fdf1eb;
  padding: 8px 25px;
}

.card-title h2 {
  font-size: 22px;
  font-weight: 600;

}


.container .card div {
  font-size: 14px;
  padding-top: 15px;
  color: #725c5c;
  padding-left: 25px;
}

.show-paragraph{
  margin-top: 25px;
}

button.show-text{
  border: none;
  background-color: transparent;
  color: #ed7839;
  font-weight: 700;
  cursor: pointer;
  margin-left: 900px;
}

button.show-text:hover{
  text-decoration: underline;
}

.discussoes{
  margin-top: 50px;
}

.infos{
  text-align: center;
}

.infos h3 {
  color: #ed7839;
}

.infos p {
  padding: 0 110px;
}

.topic-card {
  margin-left: -50px;
}

.topic-card button{
  background-color: #feb052;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.topic-card button:hover{
  background-color: #ed7839;
}

.topic-card h2 {
  font-size: 14px;
  color: #725c5c;
  font-weight: 400;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ed7839;
  font-size: 16px;
  font-weight: 600;
  padding-top: 15px;
}

form label input, textarea {
  width: 970px;
  border: none;
  border-radius: 3px;
  border: 1px solid #725c5c;
}

form label input{
  height: 30px;
}

form label textarea{
  height: 80px;
}

.card-conteudo{
  padding: 0 25px; 
  margin: 25px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
border-radius: 3px;
}

.card-conteudo h2 {
  color: #ed7839;
  font-size: 16px;
  font-weight: 600;
}

.card-conteudo span {
  color: #3b3b3b;
  font-size: 12px;
  font-weight: 600;
}

.card-conteudo p {
  margin-top: 10px;
}

.button-style{
  background-color: #eaf1f2;
  height: 12px;
  width: 850px;
}

.button-style input {
  position: absolute;
  top: 206%;
  right: 6.5%;
  background-color: #ed7839;
  border: none;
  padding: 5px 75px;
  color: #fff;
  font-weight: 600
}

.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -40px;
}

.icons button {
  margin-left: 5px;
  cursor: pointer;
}

.icons span {
  margin-left: 5px;
}

.icons .options-icon{
  background-color: transparent;
  border: none;
}

.icons .coracao-icon{
  background-color: #ed7839;
  border: none;
  border-radius: 2px;
  margin-right: 5px;
}

.icons .coracao-icon img {
  padding-top: 2px;
}

footer{
  display: flex;
  flex-direction: row;
  border-top: 1px solid #725c5c5d;
  margin-top: 50px;
}

footer p {
  color: #3b3b3b;
  font-size: 13px;
  margin-top: 15px;
  font-weight: 400;

}

footer p span {
  font-weight: 700;
}